/* created by ppaluch099 at 20210207 20:58. */
body {
	background: url('JPEG/bg.jpg');
	color: white;
}
div {
	text-align: center;
	font-size: 4vw;
	font-family: Consolas;
}
#container {
	width: 100%;
	height: 90%;
}
#buttons {
	position: absolute;
	bottom: 0;
	height: 10%;
	right: 0;
    left: 0;
}
#player {
	position: absolute;
	top: 0;
	right: 0;
    left: 0;
}
#dealer {
	position: absolute;
	bottom: 0;
	right: 0;
    left: 0;
}
#pl_label {
	position: absolute;
	top: 0;
	left: 0;
}
#dea_label {
	position: absolute;
	bottom: 0;
	left: 0;
}
img {
	width: 10%;
	height: 10%;
}